body {
    font-family: "Inter", sans-serif;
    color: #6D758F;
    overflow-x: hidden;
   
}

.hero {
    height: calc(100vh + 500px);
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
}

.banner {
    position: relative;
}

.hero .fisrtHalf {
    /* background-color: #a58d71; */
    /* height: 50%; */
    position: absolute;
    top: 0;
    width: 1000px;
    right: calc((100vw - 1000px)/2)
}

.hero .secondHalf {
    height: 50%;
    background-color: white;
}

.hero h1, .hero h2 {
    color: white;
    text-align: center;
    margin-top: 0;
}

.hero h1 {
    font-size: 3.5rem;
    padding-top: 430px;
    margin-bottom: 0.5rem;
    color: #A58D71;
}

.hero h2 {
    font-size: 24px;
    color: black;
    font-weight: 400;
}

.hero h3 {
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 63px;
}

.hero h4 {
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-align: center;

}

.heroBottomText {
    position: absolute;
    bottom: 0;
    display: grid;
    justify-items: center;
    width: 100vw;
}

.about {
    /* height: 1000px; */
    max-width: 1118px;
    margin: auto;
    margin-bottom: 200px;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 0.5rem;
}

.aboutMain {
    text-align: center;
    margin-bottom: 100px;
}

.aboutPersons {
    display: flex;
    justify-content: space-evenly;
}

/* .aboutPerson img {
    margin: 80px 124px;
} */

.aboutPersonImg {
    height: 280px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.aboutPerson h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.aboutPerson span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.aboutPerson p {
    line-height: 24px;
}

.aboutPersonSocial {
    display: flex;
    height: unset;
    width: 92px;
    justify-content: space-between;
    
}

/* .aboutPersonSocial img {
   background-color: #6d758f;
} */


.aboutPerson {
    height: 760px;
    width: 410px;
    padding: 20px 20px;
}

.aboutPerson:first-child {
    background-color: #737373;
    color: white !important;
}

.aboutPerson:nth-child(2) {
    background-color: #f1f3f7;
    
}

.programsAndModules {

    padding-top:  100px;
    background-color: #F5F5F5;
}

.programsAndModulesContent {
    width: 1200px;
    margin: auto;
}

.programsAndModulesDescription {
    text-align: center;
}

.toggleSelect {
    display: flex;
    justify-content:space-evenly;
    height: 100px;
}

.toggleSelect button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.toggleSelect button {
    width: 50%;
}

.categoryContent {
    padding: 75px 0;
    display: flex;
    justify-content: space-evenly;
}

.contentCharacteristic {
    width: 355px;
    height: 355px;
    background-image: linear-gradient(to bottom,rgb(116, 115, 115), rgb(217, 219, 223));
    /* background-size: cover; */
    padding: 15px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.contentCharacteristic div {
    position: absolute;
    z-index: 2;
}

.contentCharacteristic img {
    width: 355px;
    position: absolute;
    z-index: 1;
}

/* .contentCharacteristic:nth-child(1) {
    background-image: url(/src/Images/p&mImg1.png);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
    filter: brightness(80%);
    
}
.contentCharacteristic:nth-child(2) {
    background-image: url(/src/Images/p&mImg2.png);
    
}
.contentCharacteristic:nth-child(3) {
    background-image: url(/src/Images/p&mImg3.png);
    
} */

.mentorsAndCoaches {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 200px;
}

.mentorsAndCoachesIntro {
    text-align: center;
}

.mentorsAndCoachesIntro h2 {
    font-size: 36px;
}

.mentorsAndCoachesPeople {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

.mentorOrCoach {
    font-family: "Inter", sans-serif;
    color: #6D758F;
    padding: 20px 20px;
    width: 410px;
    background-color: #f1f3f7;
    margin: 30px;
    height: 760px;
}

.mentorOrCoach img {
    margin: auto;
    display: flex;
}

.mentorOrCoach h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.mentorOrCoach span {
    text-transform: uppercase;
}

.ourMemberships {
    background-color: #F3F0ED;
    display: flex;
    justify-content: center;
}

.ourMembershipsContent {
    margin: auto;
    width: 1200px;
    padding: 100px;
    background-color: #737373;
    padding: 50px 0 50px 0;
    margin: 50px 0;
    text-align: center;
    max-width: 900px;
    color: white;
    border-radius: 10px;
}

.ourMembershipsContent h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

.memberships {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: space-between;
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact div form {
    width: 500px;
    height: 600px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #e1e4ed;
}

.formOneOfTwo {
    display: grid;
    grid-template-columns: auto auto;
}

.contactContent {
    width: 1200px;
    position: absolute;
    top: calc((1000px - 600px) / 2);
    border-radius: 15px;
    

}

.contactInfo {
    position: absolute;
    top: calc((600px - 300px)/2);
    left: 530px;
    width: 310px;
    height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #e1e4ed;
    border-left: none;
}

.contactInfo h2, .contactInfo p {
    margin: 0;
}

.contactElement {
    display: flex;
}

@media screen and (max-width: 991px) {

    .aboutPersons {
        display: grid;
    }

    .mentorsAndCoachesPeople {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        
    }

    .programsAndModulesContent {
        width: 100vw
    }

    .toggleSelect {
        width: 100vw;
    }

    .categoryContent {
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .contentCharacteristic {
        margin: 20px 0;
        background-image: url(/src/Images/p&mImg1.png);
    }

    .ourMemberships {
        background-color: #737373;
    }

    .contact {
        display: grid;
    }

    .contactInfo {
        position: unset;
        width: 310px;
        height: 300px;
        background-color: white;
        padding: 15px;
        border: none;
    }



    
}