body {
    font-family: "Inter", sans-serif;
    color: #6D758F;
    overflow-x: hidden;
   
}

.hero {
    height: calc(100vh + 500px);
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
}

.banner {
    position: relative;
}

.hero .fisrtHalf {
    /* background-color: #a58d71; */
    /* height: 50%; */
    position: absolute;
    top: 0;
    width: 1000px;
    right: calc((100vw - 1000px)/2)
}

.hero .secondHalf {
    height: 50%;
    background-color: white;
}

.hero h1, .hero h2 {
    color: white;
    text-align: center;
    margin-top: 0;
}

.hero h1 {
    font-size: 2.1rem;
    padding-top: 430px;
    margin-bottom: 0.5rem;
    color: #A58D71;
    padding-top: 43%;
}

.hero h2 {
    font-size: 24px;
    color: black;
    font-weight: 400;
}

.hero h3 {
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 63px;
}

.hero h4 {
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-align: center;

}

.heroBottomText {
    position: absolute;
    bottom: 0;
    display: grid;
    justify-items: center;
    width: 100vw;
}

.about {
    /* height: 1000px; */
    max-width: 1118px;
    margin: auto;
    margin-bottom: 200px;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 0.5rem;
}

.aboutMain {
    text-align: center;
    margin-bottom: 100px;
}

.aboutPersons {
    display: flex;
    justify-content: space-evenly;
}

/* .aboutPerson img {
    margin: 80px 124px;
} */

.aboutPersonImg {
    /* height: 280px; */
    display: grid;
    justify-content: center;
    align-content: center;
}



.aboutPersonImg {
    /* width: 450px; */
}

.aboutPersonImg2{
    height: 390px;
    width: 450px;
    object-fit: cover;
    object-position: center top;
}

.mentorOrCoachImg {
    width: 450px;
}

.aboutPerson h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.aboutPerson span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.aboutPerson p {
    line-height: 24px;
}

.aboutPersonSocial {
    display: flex;
    height: unset;
    width: 92px;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}

/* .aboutPersonSocial img {
   background-color: #6d758f;
} */


.aboutPerson {
    height: 875px;
    width: 410px;
    padding: 0px 20px 20px 20px;
}

.aboutPerson:first-child {
    background-color: #737373;
    color: white !important;
    position: relative;
}

.aboutPerson:nth-child(2) {
    background-color: #f1f3f7;
    position: relative;
}

.programsAndModules {

    padding-top:  100px;
    background-color: #F5F5F5;
    padding-bottom: 55px;
}

.programsAndModulesContent {
    width: 1220px;
    margin: auto;
}

.programsAndModulesDescription {
    text-align: center;
    margin-bottom: 48px;

}

.programsAndModulesDescription h2 {
    font-size: 36px;
    margin-bottom: 0.5rem;
}

.programsAndModulesDescription p {
    line-height: 24px;
    max-width: 876px;
    text-align: center;
    margin: auto;
}

.toggleSelect {
    display: flex;
    justify-content:space-evenly;
    height: 34px;
}

.toggleSelect button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.toggleSelect button {
    width: 50%;
    /* font-weight: 800; */
    font-size: 14px;
}

.categoryContent {
    padding: 75px 0;
    display: flex;
    justify-content: space-evenly;
}

.contentCharacteristic {
    width: 355px;
    height: 355px;
    background-image: linear-gradient(to bottom,rgb(116, 115, 115), rgb(217, 219, 223));
    /* background-size: cover; */
    padding: 15px;
    border-radius: 8px;
    color: white;
    position: relative;
    box-shadow: 0px 15px 15px 0px rgba(225, 228, 237, 0.20);
}

.contentCharacteristic div {
    position: absolute;
    z-index: 2;
    padding: 9px 24px 9px 9px;
}

.contentCharacteristic div h3 {
    font-size: 24px;
}

.contentCharacteristic div p {
    line-height: 18px;
    font-size: 13px;
    text-transform: uppercase;
}

.contentCharacteristic img {
    width: 385px;
    height: 385px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 8px;
    filter: brightness(.6);
}

.programsAndModulesCallToAction {
    color: white;
    background-color: black;
    display: flex;
    padding: 14px 18px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    margin: auto;
    font-size: 14px;
    font-family: 'Inter';   
    align-items: center;
    width: 195px;
    justify-content: space-between;
    
}

.feedback {

    padding-top: 80px;
}

.feedbackDescription {
   text-align: center;
}

.feedbackDescription h2{
    font-size: 36px;
    margin-bottom: 24px;
    margin-top: 0;
    font-weight: 800;
}
.feedbackDescription p {
    margin: 0;
}

.mentorsAndCoaches {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 200px;
}

.mentorsAndCoachesIntro {
    text-align: center;
}

.mentorsAndCoachesIntro h2 {
    font-size: 36px;
}

.mentorsAndCoachesPeople {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    
}

.mentorOrCoach {
    font-family: "Inter", sans-serif;
    color: #6D758F;
    padding: 0px 20px;
    width: 410px;
    background-color: #f1f3f7;
    margin: 30px;
    height: 875px;
    position: relative;
}

.mentorOrCoach img {
    margin: auto;
    display: flex;
}

.mentorOrCoach h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.mentorOrCoach span {
    text-transform: uppercase;
}

.ourMemberships {
    background-color: #F3F0ED;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.ourMembershipsContent {
    margin: auto;
    width: 1200px;
    padding: 100px;
    background-color: #737373;
    padding: 64px;
    /* margin: 50px 0; */
    text-align: center;
    max-width: 1106px;
    color: white;
    border-radius: 10px;
}

.ourMembershipsContent h2 {
    margin-top: 0;
    margin-bottom: 62px;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.memberships {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: space-around;
    height: 140px;
    align-content: space-around;
    justify-items: normal;
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
}

.contact div form {
    width: 577px;
    height: 785px;
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #e1e4ed;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.formOneOfTwo {
    display: grid;
    grid-template-columns: auto auto;
}

.contactContent {
    width: 1200px;
    position: absolute;
    top: calc((1000px - 849px) / 2);
    border-radius: 15px;
    

}

.contactInfo {
    position: absolute;
    top: calc((785px - 372px)/2);
    left: 643px;
    width: 360px;
    height: 372px;
    background-color: white;
    padding: 26px 20px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #e1e4ed;
    border-left: none;
}


.contactInfo h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 21px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
}

.contactInfo p {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
}

.contactElements{
    height: 196px;
    display: grid;
    gap: 24px;
}

.contactElement {
    display: flex;
    height: 50px;
}

.contactElementInfo {
    margin-left: 11px;
    display: grid;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-content: center;
}

.contactSubmit{
    color: white;
    background-color: black;
    display: flex;
    padding: 14px 18px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    font-size: 14px;
    font-family: 'Inter';
    align-items: center;
    width: 103px;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .hero {
        height: calc(100vh + 300px);
        min-height: 1196px;
        margin-top: 70px;
        margin-bottom: 70px;
        position: relative;
        background-color: #F3F0ED;
    }
    .banner {
        display: flex;
        justify-content: center;
        background-color: #F3F0ED;
    }
    .hero .fisrtHalf {
        position: absolute;
        top: 0;
        width: 100%;
        right: calc((100vw - 100%)/2)
    }

    .hero h1 {
        font-size: 24px;
        /* max-width: 90vw; */
        padding-top: 96px;
        margin-bottom: 0.5rem;
        color: #A58D71;
        width: 90vw;
        margin: auto;
    }
    
    .hero .subtitle {
        font-size: 14px;
        color: black;
        font-weight: 400;
        width: 90vw;
        margin: auto;
        margin-top: 15px;
    }
    
    .hero h3 {
        font-size: 30px;
        color: black;
        font-weight: 700;
        text-align: center;
        margin-top: 35%;
    }
    
    .hero h4 {
        font-size: 24px;
        color: black;
        font-weight: 700;
        text-align: center;
    
    }
    
    .heroBottomText {
        position: absolute;
        bottom: 0;
        display: grid;
        justify-items: center;
        width: 100vw;
        padding-bottom: 30px;
    }

    .about h1 {
        font-size: 29px;
        margin-bottom: 0.5rem;
    }

    .aboutMain {
        padding: 0 5vw;
        margin-bottom: 70px;
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }

    .aboutPersonImg2{
        height: 320px;
        width: 90vw;
        object-fit: cover;
        object-position: center top;
    }
    
    .mentorOrCoachImg {
        width: 90vw;
    }

    .aboutPerson {
        height: 935px;
        width: calc(90vw - 40px);
        padding: 0px 20px;
        margin: 5px 5vw;
    }

    .about {
        max-width: 1118px;
        margin: auto;
        margin-bottom: 100px;
    }

    .aboutPersons {
        display: grid;
        justify-content: center;
    }

    .mentorsAndCoachesIntro h2 {
        font-size: 29px;
    }

    .mentorsAndCoachesIntro p {
        font-family: 'Inter';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .mentorsAndCoachesIntro {
 
        padding: 0 5vw;

    }

    .mentorOrCoach {
        font-family: "Inter", sans-serif;
        color: #6D758F;
        padding: 0px 20px;
        width: calc(90vw - 40px);
        background-color: #f1f3f7;
        margin: 5px auto;
        height: 850px;
    }

    .mentorsAndCoaches {
        margin-bottom: 50px;
    }

    .mentorsAndCoachesPeople {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        
    }

    .programsAndModules {

        padding-top:  70px;
        background-color: #F5F5F5;
        padding-bottom: 55px;
    }
    
    
    .programsAndModulesDescription {
        text-align: center;
        margin-bottom: 48px;
        width: calc(100vw - 70px);
        margin: auto;
    
    }
    
    .programsAndModulesDescription h2 {
        font-size: 29px;
        margin-bottom: 24px;
    }
    
    .programsAndModulesDescription p {
        line-height: 24px;
        max-width: 876px;
        text-align: center;
        margin: auto;
        margin-bottom: 48px;
    }



    .programsAndModulesContent {
        width: 100vw
    }

    .toggleSelect {
        width: calc(100vw - 70px);
        margin: auto;
    }

    .categoryContent {
        width: calc(100vw - 70px);
        display: grid;
        margin: auto;
    }

    .contentCharacteristic img {
        width: calc(100vw - 70px);
        height: calc(100vw - 70px);
        max-width: 385px;
        max-height: 385px;
        position: absolute;
        z-index: 1;
        object-fit: cover;
        top: 0;
        left: 0;
        border-radius: 8px;
        filter: brightness(.6);
    }

    .contentCharacteristic {
        width: calc(100vw - 70px);
        height: calc(100vw - 70px);
        max-width: 385px;
        max-height: 385px;
        margin: 20px 0;
        padding: 0;
        /* background-image: url(/src/Images/p&mImg1.png); */
    }

    .contentCharacteristic div h3 {
        font-size: 20px;
        margin: 0;
    }

    .contentCharacteristic div p {
        margin-top: 5px;
        font-size: 10px;
        font-weight: 600;
    }


    .feedback {

        padding-top: 50px;
    }

    .feedbackDescription {
        text-align: center;
        width: calc(100vw - 70px);
        margin: auto;
    }

    .feedbackDescription p {
        margin: 0;
        margin-bottom: 32px;
    }

    .ourMemberships {
        background-color: #737373;
    }

    .ourMembershipsContent {

        padding:0;
     
    }

    .ourMembershipsContent h2 {
        font-size: 29px;   
    }

    .memberships {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        justify-content: space-evenly;
        height: unset;
        align-content: space-between;
        justify-items: center; 
        width: 90vw;
        gap: 40px;
    }

    .contact {
        display: grid;
    }

    .contactInfo {
        width: calc(100vw - 74px);
        justify-self: center;
        position: unset;
        height: unset;
        background-color: white;
        padding: 71px 15px 15px 15px;
        border: none;
    }

    .contact form {
        width: calc(100vw - 64px);
        margin: auto;
        margin-top: 32px;
        margin-bottom: 64px;
    }



    
}