.CarouselItem {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: baseline;
    margin-top: 64px;
}

.CarouselItemContent {
    width: 490px;
    height: 400px;
    /* background-color: #313131; */
    /* border: 3px solid #fdfdfd; */
    padding: 40px;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    user-select: none;
    align-content: center;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}


.CarouselItemContent div h3 {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.CarouselItemContent div p {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.CarouselItemContent div h4 {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.CarouselItemContent div span, .CarouselItemContent div div {
    font-family: 'Inter';
    color: #B4B9C9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}


.Carousel {
    position: relative;   
    z-index: 2;

}



.ContainerCarousel {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 1200px;
    height: 755px;
    transition: transform 0.5s ease-out;
    background-color: white;
}

.CarouselIndicators {
    position: absolute;
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    bottom: 100px;
    right: 50vw;
}
  
.CarouselIndicators li {
    display: inline-block;
    width: 45px;
    height: 5px;
    cursor: pointer;
    background-color: #A5A5A5;
    margin: 0 7.5px;
}

.CarouselIndicators li.active {
    background-color: #a58d71;
}

.SlideButtons {
    position: absolute;
    top: calc(264px - (33px/2));
    left: calc((100vw - 1240px)/2);
    width: 1240px;
    display: flex;
    justify-content: space-between;
}

.SlideButtons button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 4px;
}



@media screen and (max-width: 991px) {
    .CarouselItem {
        margin-top: 112px;
    }
    .CarouselItemContent {
        width: calc(90vw - 30px);
        height: 400px;
        /* background-color: #313131; */
        /* border: 3px solid #fdfdfd; */
        padding: 15px;
        border-radius: 15px;
        display: grid;
        justify-content: center;
        user-select: none;
        align-content: center;
    }
    .CarouselItemContent img{
        width: 90vw;
    }

    .SlideButtons {
        position: absolute;
        top: calc(10px);
        left: calc((100vw - 100px) / 2);
        width: 116px;
        display: flex;
        justify-content: space-between;
    }


    
}