.footer {
    background-color: #A58D71;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.footerContent {
    width: 1200px;
}


.newsletter {
    width:270px;
    background-color: #696969;
    padding: 15px;
}

.footerLinksAndForm {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 47px;
    justify-content: space-between;
}

.footerLinks h4 {
    margin: 0;
    margin-bottom: 15px;
}

.FooterLinkContainer {
    margin-bottom: 13px;
}

.FooterLink {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footerInfo {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 47px;
    border-top: 2px solid #aa947a;
    justify-content: space-between;
    align-items: baseline;
}

.trademark {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 991px) {

    .footer {
        display: grid;
    }

}